<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="amr_sweeper">

  <xacro:arg name="use_ros2_control" default="true"/>
  <xacro:arg name="enable_top_cameras" default="true"/>
  <xacro:arg name="enable_gnss" default="true"/>
  <xacro:arg name="enable_imu" default="true"/>
  <xacro:arg name="enable_depth_camera" default="true"/>

  <xacro:include filename="materials.xacro"/>
  <xacro:include filename="robot_core.xacro"/>

  <xacro:if value="$(arg enable_gnss)">
    <xacro:include filename="$(find amr_sweeper_description)/urdf/sensors/GNSS_sensor.xacro"/>
  </xacro:if>

  <xacro:if value="$(arg enable_imu)">
    <xacro:include filename="$(find amr_sweeper_description)/urdf/sensors/IMU_sensor.xacro"/>
  </xacro:if>

  <xacro:if value="$(arg enable_depth_camera)">
    <xacro:include filename="$(find amr_sweeper_description)/urdf/sensors/depth_camera.xacro"/>
  </xacro:if>

  <xacro:if value="$(arg enable_top_cameras)">
    <xacro:include filename="$(find amr_sweeper_description)/urdf/sensors/top_cameras.xacro"/>
  </xacro:if>

  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="$(find amr_sweeper_description)/urdf/control/odrive_ros2_control.xacro"/>
    <xacro:include filename="$(find amr_sweeper_description)/urdf/control/steadydrive_ros2_control.xacro"/>
  </xacro:if>

</robot>
